.env
.idea
.vscode
notarius\venv
backend/__pycache__/
backend/migrations/
backend/*.pyc
backend/staticfiles/
backend/db.sqlite3.db
venv/

# Logs
notarius\logs
notarius\*.log
notarius\npm-debug.log*
notarius\yarn-debug.log*
notarius\yarn-error.log*
notarius\pnpm-debug.log*
notarius\lerna-debug.log*

notarius\node_modules
notarius\dist
notarius\dist-ssr
notarius\*.local

# Editor directories and files
notarius\.vscode/*
notarius\!.vscode/extensions.json
notarius\.idea
notarius\.DS_Store
notarius\*.suo
notarius\*.ntvs*
notarius\*.njsproj
notarius\*.sln
notarius\*.sw?

# Video files
*.mov
*.mp4
*.avi
*.mkv
notarius-main/src/assets/media/video_test.mov