@use "sass:map";

@media (min-width: 375px) {
  .about-block {
    position: relative;
    width: 100vw;
    height: 65vh;
    max-height: 400px;
    background-image: url("../../assets/media/NadiiaHeroImgMain-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    z-index: 1;

    p {
      margin: 0;
    }

    &-shadow {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 41.75vh;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.32) 40%,
        rgba(0, 0, 0, 0.4) 100%
      );
      z-index: 2;
    }

    &-content {
      padding: 160px 0 0 0;
      position: relative;
      z-index: 3;
    }

    &-greetings {
      margin: 133px 0 10px 0;
    }

    &-title {
      margin: 24px 0;
    }
  }

  .about-block-content {
    max-width: 335px;
  }
}

@media (min-width: 420px) {
  .about-block {
    background-position: 10% 0%;
  }

  .about-block-content {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .about-block {
    height: 80vh;
    max-height: none;
  }

  // .about-block-content {
  //   max-width: 600px;
  // }
}

@media (min-width: 1024px) {
  .about-block {
    height: 90vh;
    max-height: 776px;
    background-position: 10% 5%;

    &-title {
      margin: 24px 0 32px 0;
    }
  }
  .about-block-content {
    max-width: 600px;
  }
}

@media (min-width: 1200px) {
  .about-block {
    height: 95vh;

    &-content {
      padding: 230px 0 0 0;
    }
  }
}
