@use "sass:map";

@media (min-width: 375px) {
  .text-content-image img,
  .text-content-image {
    box-sizing: border-box;
    width: 100%;
  }

  .hero-img.notaryServicesPage {
    height: 100vh;
    background-image: url("../../assets/media/services-page-bg.webp");
    background-repeat: no-repeat;
    background-position: 80% top;
    background-size: cover;
  }

  .hero-img.notaryTranslatePage {
    background-image: url("../../assets/media/NotaryTranslateHero.webp");
  }

  .hero-img.otherServicesPage {
    background-image: url("../../assets/media/OtherServicesHero.webp");
  }

  .hero {
    &-img-shadow-target {
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &-img {
      width: 100vw;
      height: 100vh;
      max-height: 600px;
      background-repeat: no-repeat;
      background-position: 37% 20%;
      background-size: 400%;

      &-shadow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        max-height: 600px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        z-index: 1;
      }
    }

    .hero-container {
      position: relative;
      z-index: 3;
      padding: 94px 0 0 0;
    }

    h1 {
      display: block;
      position: relative;
      padding: 40vh 0 0 0;
      z-index: 3;
    }
  }

  //   .text-content-block {
  //     display: flex;
  //     flex-direction: column;
  //   }

  .template-text-content {
    padding: 50px 0;
    .text-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 976px;

      &-title {
        margin: 10px 0 0 0;
      }

      &-image {
        margin: 20px 0;
      }
    }
  }
  // .text-content-list {
  //   margin: 0 0 0 20px;
  // }

  .text-content-list li {
    list-style: disc;
    margin: 0 0 0 20px;
  }
}

// @media (min-width: 768px) {
//   .template-text-content {
//     .text-content {
//       &-image {
//         float: left;
//         max-width: 40%;
//         margin-right: 20px;
//       }
//     }
//   }
// }

@media (min-width: 1024px) {
  .hero {
    &-img {
      max-height: 100vh;
    }

    .hero-container {
      padding-top: 50px;
    }

    h1 {
      padding: 60vh 0 0 0;
    }

    &-img-shadow {
      max-height: 100vh;
      background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.85) 100%
      );
    }
  }

  .template-text-content {
    padding: 100px 0;
    .text-content-title {
      margin: 10px 0 0 0;
    }
  }

  .text-content-list li {
    list-style: disc;
    margin: 0 0 0 40px;
  }

  // .text-content-list {
  //   margin: 0 0 0 20px;
  // }
}

// @media (min-width: 1200px) {
//   .text-content-block {
//     grid-template-columns: 1fr 35%;
//   }
// }
