// Анімація завантаження PDF
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pdf-loading-spinner {
  animation: spin 1s linear infinite;
}

@media (min-width: 1024px) {
  .trade-mark {
    padding: 197px 0 0 0;
    min-height: 100vh;
    &-title {
      margin: 60px 0;
    }
  }
}
