@use 'sass:map';

@media (min-width: 375px) {
    .goals {
        background: map.get($colors, 3);
        padding: 50px 0;

        &-title {
            padding: 0 0 20px 0;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            gap: 20px;

        }
    }

    .goal-card-title {
        padding: 0 0 20px 0;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 55px;
            height: 1px;
            background-color: map.get($colors, 1);
        }
    }
}

@media (min-width: 768px) {
    .goals {

        // padding: 50px 0;
        &-title {
            padding: 0 0 50px 0;
        }

        &-wrap {
            flex-direction: row;
            flex-grow: 1;
            gap: 32px;
        }
    }

    .goal-card {
        flex: 1;

        &-title::after {
            width: 65px;
        }
    }

}

@media (min-width: 1024px) {
    .goals {
        padding: 80px 0 90px 0;

        &-title {
            padding: 0 0 80px 0;
        }
    }
}