@use "sass:map";
h2 {
  margin: 0;
}

@media (min-width: 375px) {
  .about-page-breadcrumbs {
    padding-top: 101px;
  }
}

.about-page {
  @media (min-width: 375px) {
    .btn-secondary {
      display: none;
    }

    .about-block-btn {
      display: block;
      padding: 14px 30px;
      background: map.get($colors, 4);
      margin-top: 24px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background: $btn-hover;
      }
    }
  }

  @media (min-width: 1024px) {
    .about-block-btn {
      margin-top: 46px;
    }
  }

  @media (min-width: 375px) {
    .about-block {
      height: 100vh;
      max-height: 544px;
      background-position: 75% 0;

      &-content {
        padding: 100px 0 0 0;

        .breadcrumbs {
          padding-bottom: 70px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .about-block {
      background-image: url("../../assets/media/NadiiaHeroImgAbout-min.png");

      max-height: 757px;
      &-content {
        .breadcrumbs {
          padding-bottom: 170px;
        }
      }
    }

    .about-block-content {
      max-width: 560px;
    }
  }

  @media (min-width: 1024px) {
    .about-block {
      max-height: 757px;

      &-title {
        margin: 24px 0 32px 0;
      }
      &-content {
        padding: 49px 0 0 0;
        .breadcrumbs {
          padding-bottom: 0;
        }
      }
      &-text-content {
        margin-top: 134px; /* отступ от breadcrumbs для экранов 1200+ */
      }
    }

    .about-block-content {
      max-width: 645px;
    }
  }

  @media (min-width: 1204px) {
    .about-block {
      height: 110vh;
    }
  }
}
