@use 'sass:map';
@use "./vars" as *;

@mixin generate-color-classes($map) {
  @each $key, $value in $map {
    .c#{$key} {
      color: $value;
    }

    .bg#{$key} {
      background-color: $value;
    }

    .br-c#{$key}{
      border-color: $value;
    }
  }
}

// border: 1px solid map.get($colors, 1); // как вытягивать цвет внутри 