$fs-root: 16px;

$colors: (
  1: #fcfcfc,
  2: #e5e3e3,
  3: #1a1a1a,
  4: #338d96,
  5: #f5f5f5,
  6: rgba(252, 252, 252, 0.7),
  7: #8d8d8d,
  8: #ffffff,
  9: #000000,
  10: #b8b8b8,
  11: #f0ece8,
  12: #0c0c0c,
  13: #797b7a,
  14: rgba(#1a1a1a, 0.7),
  15: #b6b0ae,
);

// button colors
$btn-default: #338d96;
$btn-hover: #266a71;
$btn-active: #1a474b;
$btn-focus: #338d96;
$btn-disabled: #c6c6c6;
