@use 'sass:map';

.review-block {
    color: #1A1A1A;
    
    ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @media (min-width: 375px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    @media (min-width: 700px) {
        flex-direction: row;
        justify-content: flex-start;
    }

    @media (min-width: 768px) {
        gap: 50px;
        margin: 60px 0;
        max-width: 100%;
    }
}

@media (min-width: 375px) {

    .rating-summary,
    .review-form {
        flex: 1;
        color: #1A1A1A;

        & h2 {
            margin-bottom: 20px;
            color: #1A1A1A;
        }
    }

    .rate-wrap {
        display: flex;
        align-items: center;
        gap: 18px;
    }

    .rate-score-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

    .stars {
        padding-bottom: 5px;
    }

    .stars svg,
    .star-input svg {
        height: 24px;
        width: 24px;
        margin-right: 10px;
    }

    .stars span:nth-child(-n + 4) {
        color: map.get($colors, 4);
        -webkit-text-stroke: 1px map.get($colors, 4);
    }

    .rating-bars {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 15px;
    }

    .bar {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .bar-container {
        width: 100%;
        height: 9px;
        border: 0.5px solid map.get($colors, 7);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    .bar-fill {
        height: 100%;
        background-color: map.get($colors, 4);
        transition: width 0.3s ease;
    }

    .review-form label {
        display: block;
    }

    .star-input span {
        color: transparent;
        -webkit-text-stroke: 1px map.get($colors, 7);
    }

    .star-input {
        display: flex;

        div {
            cursor: pointer;
        }
    }

    .star-input .star.active,
    .star-input .star:hover {
        color: map.get($colors, 4);
        -webkit-text-stroke: 1px map.get($colors, 4);
    }

    .review-form-input {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 26px;

        .input-group {
            position: relative;
            padding-bottom: 20px;

            & label {
                position: absolute;
                left: 0;
                top: 8px;
                pointer-events: none;
                transition: all 0.2s ease;
                text-transform: none;
            }

            & input,
            & textarea {
                width: 100%;
                background: inherit;
                border: none;
                border-bottom: 0.25px solid map.get($colors, 3);
                font: inherit;
                padding: 6px 0 6px 0;
                appearance: none;

                &::placeholder {
                    color: transparent;
                }

                &:focus {
                    outline: none;
                    border-bottom: 1px solid map.get($colors, 4);
                }

                &:focus+label,
                &:not(:placeholder-shown)+label {
                    transform: translateY(-18px);
                    font-size: 10px;
                    color: map.get($colors, 4);
                }
            }
        }

        /* кастомный селект */
        .input-group.select-group {
            position: relative;
            padding-bottom: 20px;

            .custom-select {
                width: 100%;
                border-bottom: 0.25px solid map.get($colors, 3);
                font: inherit;
                background: inherit;
                cursor: pointer;
                position: relative;

                &__trigger {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 6px 0;

                }

                .arrow {
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-right: 0.5px solid map.get($colors, 3);
                    border-bottom: 0.5px solid map.get($colors, 3);
                    transform: rotate(45deg);
                    transition: transform 0.2s ease;
                    margin-left: 8px;
                    margin-right: 9px;
                }

                &.open .arrow {
                    transform: rotate(-135deg);
                }
            }

            .custom-options {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: map.get($colors, 1);
                border-bottom: 0.5px solid map.get($colors, 3);
                margin-top: 4px;
                z-index: 10;

                .custom-option {
                    padding: 8px 10px;
                    cursor: pointer;
                    transition: background 0.2s ease;

                    &:hover {
                        background: map.get($colors, 4);
                        color: map.get($colors, 1);
                    }

                    &.selected {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    textarea {
        resize: vertical;
        max-height: 200px;
        padding: 0;
    }

    textarea~label {
        top: -2px;
    }
}


@media (min-width: 768px) {

    .rating-summary,
    .review-form {
        color: #1A1A1A;
        
        & h2 {
            margin-bottom: 55px;
            color: #1A1A1A;
        }
    }

    .rating-summary {
        flex: 0 1 40%;
        max-width: 445px;
    }

    .rating-bars {
        margin-top: 44px;
    }

    .review-form {
        flex: 1;
        min-width: 0;
    }

    .review-form-input {
        // gap: 34px;

        .input-group textarea~label {
            top: 7px;
        }
    }

    .review-form-input .input-group.select-group .custom-select__trigger {
        padding: 6px 0 8px 0;
    }
    
    .review-form-input .input-group {
        & input,
        & textarea {
            padding: 6px 0 24px 0;
        }
    }
    
    .review-form-input .input-group.select-group .custom-select__trigger {
        padding: 6px 0 24px 0;
    }
}

@media (min-width: 1024px) {

    .stars svg,
    .star-input svg {
        height: 40px;
        width: 40px;
    }

     .review-block .review-form-input {
        gap: 15px;}

}