@use "sass:map";
button {
  border: 0;
}

@media (min-width: 375px) {
  .footer {
    min-height: 460px;
    padding: 40px 0 20px 0;
    transition: padding-bottom 0.3s ease-in-out;
    font-family: "Montserrat", sans-serif !important;
    position: relative;
    bottom: 0;
    left: 0;
    &.accordion-open {
      padding: 40px 0 50px 0;
    }
    &-social-media {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: scale(1.15);
        }
      }
    }
    .footer-accordion {
      margin: 50px 0 70px 0;

      .footer-accordion-item {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        &.open {
          border-bottom: none;
        }
        .footer-accordion-header {
          width: 100%;
          padding: 20px 10px 12px 0;
          text-align: left;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          transition:
            color,
            padding 0.3s ease;

          .footer-accordion-icon {
            width: 24px;
            height: 24px;
            transition: transform 0.3s ease;
          }

          &.open .footer-accordion-icon {
            transform: rotate(90deg);
          }
          &.open {
            padding-bottom: 0;
          }
        }

        .footer-accordion-content {
          overflow: hidden;
          transition:
            max-height 0.3s ease,
            opacity 0.3s ease;

          .footer-accordion-inner {
            padding: 8px 0;
            line-height: 2;

            a {
              display: block;
            }
          }
        }
      }
    }
    &-change-lang {
      background-color: transparent;
      border-right: 1px solid #ffffff33;
      cursor: pointer;
      &-dropdown {
        margin-top: auto;
      }
      &:last-child {
        border-right: none;
      }
      &-list {
        margin: 60px auto 30px auto;
        max-width: 106px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    &-logo {
      width: 100%;
    }
    &-contacts,
    &-navigation,
    &-help {
      display: none;
    }
  }
}

@media (min-width: 767px) {
  .footer {
    &.accordion-open {
      padding: 40px 0 140px 0;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 40px 0;
    min-height: 520px;
    &-content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 34px;
    }
    &-social-media {
      margin: 0;
      order: 3;
      width: 22.5%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &-title {
        margin: 40px 0 24px 0;
      }
      &-link {
        width: auto;
        height: auto;
        cursor: pointer;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          transform: none;
          transition: color 0.3s ease;
          color: map.get($colors, 4);
        }
      }
    }
    &-contacts,
    &-navigation,
    &-help {
      width: 22.5%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-link {
        text-decoration: none;
        margin-bottom: 16px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          transform: none;
          transition: color 0.3s ease;
          color: map.get($colors, 4);
        }
      }
      &-title {
        margin: 40px 0 24px 0;
      }
    }
    &-contacts {
      order: 1;
    }
    &-navigation {
      order: 2;
    }
    &-help {
      order: 4;
    }
    .no-click {
      pointer-events: none;
    }
  }
}
