@use 'sass:map';

.main {
  height: fit-content;
}

.btn-secondary {
  display: block;

  @media (min-width: 375px) {
    margin: 24px 0 30px 0;
    padding: 0 0 6px 0;
    border-bottom: 1px solid map.get($colors, 1);
    cursor: pointer;

    &:hover,
    &:active {
      color: map.get($colors, 1);
      background: map.get($colors, 3);
    }

    &:focus {
      color: map.get($colors, 1);
      background: map.get($colors, 3);
    }

    &:disabled {
      color: #8D8D8D;
      background: #C6C6C6;

    }
  }

  @media (min-width: 768px) {
    margin: 40px 0 30px 0;
  }

  @media (min-width: 1024px) {
    margin: 48px 0 50px 0;
    padding: 14px 83px;
    border: 1px solid map.get($colors, 1);

    &:hover,
    &:active {
      background-color: map.get($colors, 3);
      border: 1px solid map.get($colors, 3);
    }

    &:focus {
      background-color: map.get($colors, 3);
    }
  }
}

.about-block-btn {
  display: none;
  padding: 14px 30px;
}