@use "sass:map";
button {
  display: block;
  font-family: inherit;
}

p {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}

@media (min-width: 375px) {
  .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;

    // Когда меню открыто, делаем хедер fixed
    &.menu-open {
      position: fixed;
    }

    &.mega-open {
    }
    &-wrap {
      padding: 22px 0 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-content {
      background-color: rgba(252, 252, 252);
    }
    &-btns {
      width: 35%;
      display: flex;
      justify-content: space-around;
    }
    &-logo {
      &-wrap {
        width: 30%;
        position: sticky;
        display: flex;
        justify-content: center;
      }
    }
    &-info {
      display: none;
    }
    &-change-lang {
      &-list {
        display: none;
      }
    }
  }
  .navbar-burger-block {
    width: 30%;
    display: block;
  }
  .navbar-link-block {
    display: none;
  }

  .navbar-social-link {
    &-block-pc-wrap {
      display: none;
    }
  }

  .search-icon-wrap,
  .phone-btn-wrap {
    flex-grow: 1;
    align-self: flex-end;
    cursor: pointer;
  }

  .overlay {
    position: sticky;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  /* Меню */
  .mobile-menu {
    position: fixed;
    top: 45px; // под хедером
    left: 0;
    width: 100%;
    background: map.get($colors, 8);
    z-index: 1100;
    overflow-y: auto;
    height: calc(97.5vh - 25px);
    display: flex;
    flex-direction: column;
    transform: translateY(-120%);
    transition: transform 0.7s ease;

    &.open {
      transform: translateY(1.5%);
    }

    .close {
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
      margin-bottom: 16px;
    }

    .mobile-menu-list {
      flex: 1;
      list-style: none;
      padding: 0;

      .mobile-menu-item {
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        border-bottom: 1px solid map.get($colors, 10);
        padding: 15px 10px;
        &:last-child {
          border-bottom: none;
        }
        &.active .mobile-menu-item-icon {
          transform: rotate(0);
        }
      }
    }
    .mobile-menu-item-icon {
      display: inline-block;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
      padding: 5px;
      pointer-events: none; // Іконка не перехоплює кліки
    }

    &-social-block {
      margin: 10px 0 0 0;
      width: 50%;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 10000;
      &-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: map.get($colors, 4);
        &-link {
          width: inherit;
          height: inherit;
          display: grid;
          place-items: center;
        }
        &-img {
          width: 20px;
          height: 20px;
          color: map.get($colors, 1);
        }
      }
    }
    &-footer {
      margin-top: auto;
    }
    &-change-lang {
      background-color: transparent;
      padding: 0 5px;
      border-right: 1px solid map.get($colors, 10);
      color: map.get($colors, 10);
      &:last-child {
        border-right: none;
      }
      &.active {
        color: map.get($colors, 8); // жёлтый для активной
      }
      &-wrap {
        display: flex;
        margin: 25px 0;
        padding: 0 10px;
      }
    }
  }

  /* Аккордеон */
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    &-link {
      flex: 1;
      text-decoration: none;
      color: inherit;
      display: block;
      cursor: pointer;
      // Щоб текст не виділявся при тапі на мобілці
      -webkit-tap-highlight-color: transparent;
      user-select: none;
    }

    &-content {
      overflow: hidden;
      transition: height 0.3s ease;
      padding-bottom: 0; /* по умолчанию */
      border-bottom: none; /* по умолчанию */
    }
    &:last-child {
      display: block;
    }
  }

  .menu-item.active .accordion-header-content {
    padding-bottom: 8px; /* при открытом */
    border-bottom: 1px solid #ddd;
  }

  .accordion-header-content {
    &-list {
      list-style: none;
      padding: 8px 0 0 0;
      margin: 0;
    }

    &-item {
      margin: 10px 0;
    }
    & a {
      text-decoration: none;
      color: inherit;
    }

    // Вкладені меню (до 3 рівнів)
    .nested-menu {
      list-style: none;
      padding: 0;
      margin: 5px 0 0 0;

      .accordion-header-content-item {
        margin: 8px 0;
        font-size: 14px;

        a {
          opacity: 0.9;
        }
      }
    }
  }

  /* Бургер */
  .navbar-burger-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 24px;
    height: 22px;
    cursor: pointer;
    position: relative;

    span {
      display: block;
      height: 1px;
      border-radius: 1px;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        top 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(7px, 5px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -3px);
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    position: relative;
    &.mega-open {
    }
    &-info {
      display: block;
      height: 35px;
      &-content {
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-phones-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-left: 5%;
      }
      &-email,
      &-phones,
      &-address {
        font: inherit;
        text-decoration: inherit;
        color: map.get($colors, 1); /* белый цвет c1 */
        &:visited {
          color: map.get($colors, 1); /* белый цвет c1 */
        }
        &:hover {
          color: map.get($colors, 1); /* белый цвет c1 */
        }
      }
    }
    &-content {
      align-items: flex-end;
      padding: 0;
    }
    &-logo {
      width: 253px;
      height: 77px;
    }

    &-btns {
      align-items: center;
    }
  }
  .navbar-burger-block {
    display: none;
  }
  .navbar-link-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;

    &-wrap {
      width: 100%;
      height: auto;
      position: sticky;
      top: 0;
      left: 0;
      background-color: rgba(252, 252, 252, 0.8);
      z-index: 2600;
    }
  }
  .navbar-link {
    text-decoration: inherit;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #000000;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .navbar-social-link {
    border-radius: 50%;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &-block-pc {
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-wrap {
        display: block;
        width: 35%;
      }
    }
    &-icon {
      width: 20px;
      height: 20px;
    }
    &-arrow-icon {
      transition: transform 0.3s ease;
      margin-left: 10px;
    }
    & &-icon {
      transition: transform 0.3s ease;
    }
    &:hover &-icon {
      transform: scale(1.2);
    }
  }

  .header-change-lang {
    background-color: transparent;
    position: relative;
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 0.8em;
      background-color: #00000033;
    }
    &-list {
      margin: 0 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .search-icon-wrap {
    margin-left: auto;
    flex-grow: 0;
    height: 40px;
  }

  .phone-btn-wrap {
    flex-grow: 0;
    height: 48px;
  }

  .phone-btn-wrap {
    width: 100%;
    max-width: 165px;
    padding: 15px 30px;
    background-color: map.get($colors, 4);
    color: map.get($colors, 1);
    transition: all 0.3s ease;

    svg {
      fill: #1a1a1a;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .phone-btn {
    font-size: 1rem;
  }
}

.nav-item/* каждая вкладка-ховер зона */
.nav-item {
  position: relative;
  display: inline-block; /* можно оставить как flex-item, если нужно */

  .navbar-link {
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      bottom: -22px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #000000;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  // Активное состояние (когда MegaPanel открыт)
  &.is-open .navbar-link::after {
    width: 100%;
  }
}

/* контейнер под панель */
.nav__mega {
  position: absolute;
  left: 0;
  top: 100%; /* отступ вниз от ссылки */
  width: 100%;
  z-index: 2200;
}

/* убрать щель между ссылкой и панелью, чтобы курсор не “ронял” ховер */
// .nav__mega::before {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: -12px;
//   height: 12px;
// }

/* так как внутри MegaPanel .mega абсолютная — обнулим её позиционирование в шапке */
.nav__mega .mega-wrap {
  position: static;
}
.nav__mega .mega {
  position: static; /* было absolute */
  left: auto;
  right: auto;
  top: auto;
}

/* чтобы панель не резалась */

.header,
.header-content {
  overflow: visible;
}
