@use "sass:map";
button {
  display: block;
  font-family: inherit;
}

p {
  padding: 0;
  margin: 0;
}

@media (min-width: 375px) {
  .header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: background 0.5s ease;
    background-color: transparent;
    z-index: 2000;
    &-content {
      padding: 20px 0 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-btns {
      width: 30%;
      display: flex;
      justify-content: space-around;
      height: 40px;
    }
    &-logo {
      &-wrap {
        width: 40%;
        position: sticky;
        display: flex;
        justify-content: center;
      }
    }
    &-info {
      display: none;
    }
    &-change-lang-dropdown {
      display: none;
    }
  }
  .navbar-burger-block {
    width: 30%;
    display: block;
    align-self: flex-end;
  }
  .navbar-link-block {
    display: none;
  }

  .search-icon-wrap,
  .phone-btn-wrap {
    flex-grow: 1;
    align-self: flex-end;
    cursor: pointer;
  }

  .overlay {
    position: sticky;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }

  /* Меню */
  .mobile-menu {
    position: fixed;
    top: 59px; // под хедером
    left: 0;
    width: 100%;
    background: map.get($colors, 8);
    z-index: 1100;
    overflow-y: auto;
    height: calc(97.5vh - 50px);
    display: flex;
    flex-direction: column;
    transform: translateY(-120%);
    transition: transform 0.7s ease;

    &.open {
      transform: translateY(1.5%);
    }

    .close {
      background: none;
      border: none;
      font-size: 28px;
      cursor: pointer;
      margin-bottom: 16px;
    }

    .mobile-menu-list {
      flex: 1;
      list-style: none;
      padding: 0;

      .mobile-menu-item {
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
        border-bottom: 1px solid map.get($colors, 10);
        padding: 15px 10px;
        &:last-child {
          border-bottom: none;
        }
        &.active .mobile-menu-item-icon {
          transform: rotate(0);
        }
      }
    }
    .mobile-menu-item-icon {
      display: inline-block;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }

    &-social-block {
      margin: 10px 0 0 0;
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-item {
        width: 30px;
        height: 30px;
        &-link {
          width: inherit;
          height: inherit;
          display: grid;
          place-items: center;
        }
        &-img {
          width: 15px;
          height: 15px;
        }
      }
    }
    &-footer {
      margin-top: auto;
    }
    &-change-lang {
      background-color: transparent;
      padding: 0 5px;
      border-right: 1px solid map.get($colors, 10);
      color: map.get($colors, 10);
      &:last-child {
        border-right: none;
      }
      &.active {
        color: map.get($colors, 8); // жёлтый для активной
      }
      &-wrap {
        display: flex;
        margin: 25px 0;
        padding: 0 10px;
      }
    }
  }

  /* Аккордеон */
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    &-content {
      overflow: hidden;
      transition: height 0.3s ease;
      padding-bottom: 0; /* по умолчанию */
      border-bottom: none; /* по умолчанию */
    }
    &:last-child {
      display: block;
    }
  }

  .menu-item.active .accordion-header-content {
    padding-bottom: 8px; /* при открытом */
    border-bottom: 1px solid #ddd;
  }

  .accordion-header-content {
    &-list {
      list-style: none;
      padding: 8px 0 0 0;
      margin: 0;
    }

    &-item {
      margin: 10px 0;
    }
    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  /* Бургер */
  .navbar-burger-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 18px;
    height: 12px;
    cursor: pointer;
    position: relative;

    span {
      display: block;
      height: 2px;
      border-radius: 1px;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        top 0.3s ease;
    }

    &.active {
      span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 5px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -3px);
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    &-info {
      display: block;
      height: 40px;
      &-content {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-phones-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        margin-left: 5%;
      }
      &-email,
      &-phones,
      &-address {
        font: inherit;
        text-decoration: inherit;
        &:visited {
          color: inherit;
        }
      }
    }
    &-content {
      height: 100px;
      align-items: flex-end;
      padding: 0;
    }
    &-logo {
      width: 253px;
      height: 77px;
    }

    &-btns {
      align-items: center;
    }
  }
  .navbar-burger-block {
    display: none;
  }
  .navbar-link-block {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-link {
    text-decoration: inherit;
  }

  .navbar-social-link {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    display: grid;
    place-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(0);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    &:first-child {
      position: relative;
      opacity: 1;
    }

    &-dropdown {
      width: 57px;
      height: 35px;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover .navbar-social-link:not(:first-child) {
        opacity: 1;
        &:nth-child(2) {
          transform: translateY(40px);
        }
        &:nth-child(3) {
          transform: translateY(80px);
        }
        &:nth-child(4) {
          transform: translateY(120px);
        }
      }
      &:hover .navbar-social-link-arrow-icon {
        transform: rotate(-180deg);
      }
    }
    &-icon {
      width: 17px;
      height: 17px;
      &:first-child {
        margin-right: 2px;
      }
    }
    &-arrow-icon {
      transition: transform 0.3s ease;
      margin-left: 10px;
    }
    & &-icon {
      transition: transform 0.3s ease;
    }
    &:hover &-icon {
      transform: scale(1.2);
    }
  }

  .header-change-lang {
    height: 30px;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: transparent;
    transform: translateY(0);
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    &:first-child {
      position: relative;
      opacity: 1;
      display: flex;
      justify-content: space-between;
    }
    &-dropdown {
      margin: 0 10%;
      height: 30px;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      &:hover .header-change-lang-list {
        opacity: 1;
        display: flex;
        flex-direction: column;
      }
      &:hover .header-change-lang:not(:nth-child(0)) {
        opacity: 1;
        &:nth-child(2) {
          transform: translateY(30px);
        }
        &:nth-child(3) {
          transform: translateY(60px);
        }
      }
      &:hover .header-change-lang-arrow-icon {
        transform: rotate(-180deg);
      }
    }
    &-list {
      top: 30px;
      left: 0;
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &-arrow-icon {
      transition: transform 0.3s ease;
      margin: 0 0 5px 10px;
    }
    &:hover &-text {
      color: map.get($colors, 4);
    }
  }

  .search-icon-wrap {
    margin-left: auto;
    flex-grow: 0;
    height: 40px;
  }

  .phone-btn-wrap {
    flex-grow: 0;
    height: 48px;
  }

  .phone-btn-wrap {
    width: 100%;
    max-width: 165px;
    padding: 15px 30px;
    background-color: map.get($colors, 4);
    color: map.get($colors, 1);
    transition: all 0.3s ease;
    &:hover {
      opacity: 0.9;
    }
  }

  .phone-btn {
    font-size: 1rem;
  }
}
