@media (min-width: 375px) {
  .main-video {
    position: relative;
    width: 100vw;
    height: 70vh;
    overflow: hidden;

    &-player {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // чтобы видео обрезалось как фон
      pointer-events: none; // нельзя кликнуть
    }

    // &-text {
    //   position: relative;
    //   z-index: 1; // поверх видео
    //   color: #fff;
    //   text-align: center;
    // }
    .main-video-player {
      opacity: 0;
      transition: opacity 0.35s ease;
    }
    .main-video-player.is-loaded {
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) {
  .main-video {
    height: 100vh;
  }
}
