@use "sass:map";

@media (min-width: 375px) {
  .how-i-work {
    height: 540px;
    &-bg {
      background-image: url("../../assets/media/how-i-work-bg.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
    }
    &-title {
      padding: 50px 0 100px 0;
    }
    &-block {
      padding: 30px 66px;
      display: flex;
      flex-direction: column;
      &-item {
        width: fit-content;
        padding: 0 0 10px 0;
        margin: 0 auto 10px auto;
        box-shadow: 0 0.5px 0 0 map.get($colors, 8);
        &-number {
          text-align: center;
          margin: 0 0 8px 0;
        }
        &-text {
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .how-i-work {
    height: 600px;
    &-title {
      padding: 100px 0 220px 0;
    }
    &-block {
      padding: 40px 20px;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      &-item {
        width: fit-content;
        padding: 5px 25px 5px 25px;
        margin: 0;
        box-shadow: 1px 0 0 0 map.get($colors, 8);
        &:first-child {
          padding: 5px 25px 5px 0;
        }
        &:last-child {
          box-shadow: none;
        }
        &-number {
          text-align: start;
          margin: 0 0 8px 0;
        }
        &-text {
          text-align: start;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .how-i-work {
    height: 650px;
    &-bg {
      background-image: url("../../assets/media/how-i-work-bg-pc.svg");
      height: 520px;
    }
    &-title {
      padding: 100px 0 300px 0;
    }
    &-block {
      &-item {
        &-number {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .how-i-work {
    height: 670px;
    // &-title {
    //   padding: 100px 0 270px 0;
    // }
    &-block {
      &-item {
        padding: 5px 35px 5px 35px;
        &:first-child {
          padding: 5px 35px 5px 0;
        }
      }
    }
  }
}
